.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    1deg,
    rgba(255, 237, 237, 0.85),
    rgba(255, 255, 255, 0) 14rem
  );
}

.footer > span {
  color: var(--themeRed);
  font-weight: bold;
}

.social_icons {
  display: flex;
  gap: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo > span {
  font-weight: bold;
  font-size: 1.5rem;
}
